
#carousel {
	margin: 50px auto;
	width: 400px;
	height: 300px
	border: 5px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	
}

[class*="example"]{
  	width: 400px;
  	height: 300px;
  	background-position: center;
	background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

ul {
	margin: 0;
	width: 2000px;
	height: 300px;
}

ul li {
	float: left;
	width: 400px;
	height: 300px;
	list-style-type: none;
}

